/* Overall */

$background-color: #F9F8F3;
$desktop-breakpoint: 700px;

body {
/*	overflow: hidden;
*/	background-color: $background-color !important;
}

/* Animations */
@keyframes shake {
  0% {
    transform: translate3d(0, 0, 0);
  }

   10% {
    transform: translate3d(0,-1px, 0);
  }
  
  20% {
    transform: translate3d(0,-2px, 0);
  }

   30% {
    transform: translate3d(0,-3px, 0);
  }

  40% {
    transform: translate3d(0, -4px, 0);
  }

  50% {
    transform: translate3d(0, -5px, 0);
  }

  60% {
    transform: translate3d(0, -4px, 0);
  }

  70% {
    transform: translate3d(0, -3px, 0);
  }

  80% {
    transform: translate3d(0, -2px, 0);
  }

   90% {
    transform: translate3d(0, -1px, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }

}	

.pulsating {
  display: inline-block;
  font-size: 24px;
  animation: shake 1s cubic-bezier(.36,.07,.19,.97) both;
  animation-iteration-count: infinite;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  margin: auto;
  margin-left: 5px;
  margin-bottom: 20px
}

/* Title section */
$title-color: #E8175D; /* Dark pink */
$subtitle-color: #393939; /* Dark gray */

section.title {
	
	padding-top: 30px;
	height: 100vh;
	font-family: sans-serif;
	margin: auto;
	display: block;
	text-align: center;

	.row {
		height: 100vh;
	}

	strong {

		font-weight: 999;

	} 

	h1 {

		width: 700px;
		margin: auto;
		margin-bottom: 12px;
		color: $title-color;
		font-weight: lighter;
		line-height: 1.5;

	}

	h2 {

		width: 500px;
		margin: auto;
		margin-bottom: 30px;
		color: $subtitle-color;
		font-weight: lighter;
		font-size: 24px;
		line-height: 1.5;
	}

	@media (max-width: $desktop-breakpoint)
	{
		h1 {
			font-size: 24px;
			width: 300px;
		}

		h2 {
			font-size: 18px;
			width: 250px;
		}
	}

	.vertically-centered {
		position: relative;
		top: 25%;
	}


} /* End of title session */


/* Highlight section */
$highlight-left-color: #FF8C94; /* Light pink */
$highlight-right-color: #CC527A; /* Purple-ish */

$image-w-mob: 240px;
$image-h-mob: 240px;


section.highlights {

	.row {
		min-height: 300px;
	}

	.highlight {
		min-height: 300px;
		margin-bottom: 30px;
	}

	/* If it's not a desktop device, do this instead */
	@media (max-width: $desktop-breakpoint)
	{

		.row {
			min-height: 550px;
		}

		.highlight {
			min-height: 550px;
			margin-bottom: 30px;
		}


		.image {
			display: block;
			height: $image-h-mob;
			width: $image-w-mob;
			margin: auto;
			margin-top: 30px;
		}

		p.teaser {
			font-family: 'Lato light', sans-serif;
			margin: auto;
			margin-top: 0px;
			font-size: 20px;
			text-align: center;
			color: $background-color;
		}

		.button-wrapper {

			.highlight-button {
				display: block;
				margin: auto;
				height: 30px;
				width: 140px;
				border: none;
				margin-bottom: 5px;
				font-family: "Lato light", sans-serif;
				color: $background-color;
				text-decoration: underline;
				text-decoration-thickness: .3px;
			}

		}

	} /* End of media query */

	.highlight-left {

		background-color: $highlight-left-color;
		.image {
			-webkit-box-shadow: -10px 10px 0px 0px $highlight-right-color;
			-moz-box-shadow: -10px 10px 0px 0px $highlight-right-color;
			box-shadow: -10px 10px 0px 0px $highlight-right-color;
		}

		.highlight-button {
			background-color: $highlight-right-color;
		}

	}

	.highlight-right {

		background-color: $highlight-right-color;
		.image {
			-webkit-box-shadow: -10px 10px 0px 0px $highlight-left-color;
			-moz-box-shadow: -10px 10px 0px 0px $highlight-left-color;
			box-shadow: -10px 10px 0px 0px $highlight-left-color;
		}

		.highlight-button {
			background-color: $highlight-left-color;
		}

	}


} /* End of highlight section*/


